.posts{
    margin: 20px 0px;
    padding: 20px;
}

.postWrapper{
    padding: 10px;
    -webkit-box-shadow: 0px 0px 28px -13px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 28px -13px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 28px -18px rgba(66, 68, 90, 1);
}

.postTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postTopLeft{
    display: flex;
    align-items: center;
}

.postTopRight{
    display: flex;
    align-items:flex-end;
    justify-content: flex-start;
    cursor: pointer;
    flex-direction: column;
    width: 5rem;
    height: 4rem;
}

#postOptionsDiv{
    position: relative;
    top: 5px;
    right: 0px;
    display: none;
}

.postTopRight:hover #postOptionsDiv{
    display: flex;
}

.deleteBtn{
    font-size: 12px;
    padding: 5px 5px;
    border: none;
    border-radius: 10px;
    background-color: rgb(208, 110, 208);
    transition: all 0.2s ease-out;
    cursor: pointer;
}
.deleteBtn:hover{
    border-radius: 15px;
    box-shadow: 1px 2px 3px 2px rgb(56, 56, 56);
}

.postUserImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
}

.postUserImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.postUserName{
    font-weight: bold;
    cursor: pointer;
}

.postTime{
    margin-left: 10px;
    font-size: 12px;
}

.postMessage{
    margin: 20px 0px;
    font-size: 18px;
}

.postedImg{
    width: 100%;
    max-height: 500px;
    border-radius: 10px;
}

.postedImg img{
    width: 100%;
    max-height: 500px;
    border-radius: 10px;
    object-fit: contain;
}

.postBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.postBottomLeft{
    display: flex;
    align-items: center;
}

.postBottomLeftIcons{
    font-size: 32px;
    cursor: pointer;
    margin: 0px 3px;
}

.postLikeCount{
    margin-left: 10px;
}

.postBottomRight{
    border-bottom: dashed 1px gray;
    cursor: pointer;
}

.commentSec{
    max-height: 300px;
    overflow-y: auto;
}

#userComment{
    width: 100%;
    height: 60px;
    border: none;
}

#userComment:focus{
    outline: none;
}

