.messengerContainer{
    display: flex;
    height: calc(100vh - 70px);
    width: 100%;
    overflow-y: hidden;
}

.messengerMainContainer{
    width: 100%;
    overflow-x: hidden;
}

.messengerConversation{
    flex: 3;
}
.conversationWrapper{
    padding: 10px;
}

.messengerMessages{
    flex: 7;
}

.messagesWrapper{
    padding: 10px;
}

.messengerOnlineFriends{
    flex: 2.5;
}

.messengerOnlineFriendsWrapper{
    padding: 10px;
}