.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 158, 255);
    padding: 5px;
}

.leftNavbar{
    margin-left: 40px;
}

.rightNavbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.userProfile{
    background-color: red;
    width: 20px;
    height: 20px;
    margin-right: 40px;
}