.onlineFriendContainer{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.onlineFriendImg{
    width: 35px;
    height: 35px;
    /* border: 2px solid black; */
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    background-color: purple;
}

.onlineFriendImg img{
    width: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.isOnlineIcon{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: lime;
    position: absolute;
    right: -2px;
    top: -5px;
    border: 2px solid white;
}