.messagesMainContainer{
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.messagesMainContainer.user{
    justify-content: flex-end;
}

.messagesProfileImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
}

.messageContainer.user .messagesProfileImg{
    display: none;
}

.messagesProfileImg img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit:cover;
}

.messagesMainContainer.user .messagesProfileImg img{
    display: none;
}

.messagesContainer{
    max-width: 60%;
}

.messageText{
    background-color: rgb(255, 230, 255);
    border-radius: 10px;
    padding: 5px;
}

.messagesMainContainer.user .messageText{
    background-color: rgb(245, 245, 245);
}

.timeAgo{
    font-size: 12px;
}

.startChatting{
    font-size: 40px;
    text-align: center;
    margin: 10rem auto;
}

.messageTopBar{
    text-align: center;
}

.messageTopBar #videoCall{
    cursor: pointer;
    transition: all 0.15s ease-out;
}

.messageTopBar #videoCall:hover{
    color: rgb(208, 0, 208);
}

#sendMessageBtn{
    cursor: pointer;
    transition: all 0.15s ease-out;
}

#sendMessageBtn:hover{
    color: rgb(208, 0, 208);
}