
.mainSignUpContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: max-content;
    margin-top: 5rem;
}

.mainSignUpContainer::before{
    position: absolute;
    top: 0;
    content: "";
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 241, 255);
    z-index: -2;
}

.rightSignUpPage {
    width: 25rem;
    height: 30rem;
    background-color: white;
    border-radius: 15px;
    box-shadow: 2px 2px 14px -8px black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rightSignUpPage form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.rightSignUpPage form input{
    margin-bottom: 20px;
    padding: 15px;
    outline: none;
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 17px;
}

#signUpSignUpBtn{
    margin-bottom: 20px;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(208, 110, 208);
    color: aliceblue;
    font-weight:550;
    border-radius: 10px;
    outline: none;
    border: 2px solid rgb(188, 0, 188);
    cursor: pointer;
    transition: all .15s ease-out;
}

#signUpSignUpBtn:hover{
    box-shadow: 2px 2px 4px -1px black;
}


#signUpLoginBtn{
    text-decoration: none;
    background-color: rgb(33, 195, 33);
    padding: 15px;
    font-size: 18px;
    color: aliceblue;
    border-radius: 10px;
    border: 2px solid rgb(0, 178, 0);
    transition: all .15s ease-out;
    width: 10rem;
    text-align: center;
}

#signUpLoginBtn:hover{
    box-shadow: 2px 2px 4px -1px black;
}

.leftSignUpPage{
    width: 25rem;
    margin-right: 5rem;
}
.leftSignUpPage h1{
    font-weight: 530;
    font-size: 60px;
    color: rgb(188, 0, 188);
}

.leftSignUpPage h3{
    font-weight: 500;
    font-size: 25px;
}



